*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 18px;
}

body {
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
}

header,
section {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.5rem;
    color: black;
}

ul,
ol {
    margin-left: 1rem;
}

header a,
section a {
    color: black;
}

header nav {
    background-color: green;
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
}

header nav a {
    display: flex;
    align-items: center;
    color: white;
}

header nav a span {
    padding: 0 1rem;
}

header nav a img {
    height: 1.5rem;
}

header nav #menu {
    display: flex;
    align-items: center;
}

header nav #menu #barras {
    display: initial;
}

header nav #menu ul {
    display: none;
}

header nav #menu ul li {
    padding: 0 0.25rem;
}

header nav #menu button {
    background: none;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 5px;
}

header nav #menu #login {
    display: none;
}

header .fondo {
    width: 100%;
    height: 15rem;
}

header h1 {
    margin: -13rem 1rem 0;
    text-align: right;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px 2px black, -2px -2px 2px black;
}

header .perfil {
    width: 10rem;
    margin: 0.5rem;
    border-radius: 50%;
}

h2 {
    margin: 0.25rem;
}

header .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header .info ul {
    margin-top: 1rem;
}

section > ul > li,
section > ol > li {
    padding: 0.5rem;
    margin: 0.5rem;
    box-shadow: 0px 0px 5px green;
    border-radius: 0.5rem;
}

.green {
    color: green;
}

@media (min-width: 512px) {
    header nav #menu #barras {
        display: none;
    }

    header nav #menu ul {
        display: flex;
        /* list-style: none; */
    }

    header nav #menu #login {
        display: initial;
        border-left: 1px solid;
        padding-left: 5px;
    }

    header h1 {
        margin: -13rem 0 2rem;
        text-align: center;
    }

    header .info {
        flex-direction: row;
    }

    header .info ul {
        margin-top: 0;
    }
}

@media (min-width: 1024px) {
    section > ul,
    section > ol {
        display: flex;
        flex-wrap: wrap;
    }
    section > ul > li,
    section > ol > li {
        flex: auto;
        width: 45%;
    }
}
